[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anubhav-khanna
[access "refs/for/refs/*"]
	read = group user/anubhav-khanna
	push = group user/anubhav-khanna
	label-Code-Review = -2..+2 group user/anubhav-khanna
	label-Verified = -1..+1 group user/anubhav-khanna
	rebase = group user/anubhav-khanna
	removeReviewer = group user/anubhav-khanna
	submit = group user/anubhav-khanna
[access "refs/heads/*"]
	read = group user/anubhav-khanna
	create = group user/anubhav-khanna
	push = +force group user/anubhav-khanna
	pushMerge = group user/anubhav-khanna
[access "refs/tags/*"]
	push = +force group user/anubhav-khanna
	pushTag = group user/anubhav-khanna
	pushSignedTag = group user/anubhav-khanna
